h1{
    margin-top: 3%;
}

.field-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    color: white;
}

.field{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    color: rgb(59, 59, 59);
}

fieldset .table{
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    border-radius: 8px;
    color: white;

}

label{
    font-size: 20px;
}

input, select{
    border-radius: 8px;
    border: 0;
}
input{
    -moz-appearance: textfield;
    appearance: textfield;
}

select{
    width: 15vw;
    height: 4vh;
}

.div-botao{
    text-align: center;
    margin-top: 10px;
}

.botao{
    margin-bottom: 10px;
}

.modal-body, .modal-content{
    background-color: rgb(163, 163, 163);
}

.limpar{
    margin-bottom: 10px;
    margin-left: 85%;

}