[data-theme="dark"] {
    background-color: #2b2e31 !important;
    color: #eee;
  
  }
  [data-theme="dark"] .bg-light {
    background-color: #333 !important;
  }
  
  [data-theme="dark"] .bg-white {
    background-color: #000 !important;
  }
  
  [data-theme="dark"] .bg-black {
    background-color: #eee !important;
  }

  [data-theme="dark"] .table {
    background-color: #535252 !important;
    color: #FFF !important;
  }


  [data-theme="dark"] .field{
    color: white;
  }

  [data-theme="dark"] .modal-content{
    background-color: rgb(71, 71, 71);
  }

