@media(max-width: 777px ){
    .cards{
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        
    }

    .card{
      width: 80%;
      height: 130px;
      text-align: center;
      font-size: 18px;
        
    }
    .card-header{
        font-size: 18px;
        height: 30px;
        padding-bottom: 30px;
    }
}

@media(max-width: 400px ){
    .card-header{
        padding-bottom: 50px;
    }

    .table{
        font-size: 14px;
    }

    .col-10{
        margin-left: 0px;
    }

    .cabecalho{
        flex-direction: column;
    }

    #add{
        width: 30vw;
    }
}

