<h1>Minhas transações</h1>
<hr>
<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="darkSwitch">
    <label class="custom-control-label" for="darkSwitch"><i class="fa fa-moon-o" aria-hidden="true"></i></label>
</div>

<div class="col-10">

    <div class="cabecalho">
        <h2>Transações</h2>

        <%- include('new-trans') %>

    </div>
    <div class="table-resposive">
        <table class="table  table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>valor</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody id="table-body">
                <tr>
                    <td>1</td>
                    <td>Name test</td>
                    <td>Type test</td>
                    <td class="text-danger">Value test</td>
                    <td>00/00/0000</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cards">
        <div id="" class="card text-white bg-success mb-3" style=" box-shadow: 5px 5px rgba(0, 0, 0, 0.425);">
            <div class="card-header">Entrou na conta</div>
            <div class="card-body">
                <h5 class="card-title">+1000</h5>
            </div>
        </div>
        <div class="card text-white bg-danger mb-3" style=" box-shadow: 5px 5px rgba(0, 0, 0, 0.425);">
            <div class="card-header">Saiu da conta</div>
            <div class="card-body">
                <h5 class="card-title">-1000</h5>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="  box-shadow: 5px 5px rgba(0, 0, 0, 0.425);">
            <div class="card-header">Total da conta</div>
            <div class="card-body">
                <h5 class="card-title">50000</h5>
            </div>
        </div>
    </div>



</div>




