<!DOCTYPE html>
<html lang="pt-br">

<head>


    <%- include('header') %>


</head>

<body>
    <div class="container-fluid">

        <%- body %>

    </div>

    <%- include('scripts') %>

    <script>
        $("#form").validate({
            rules: {
                name: {
                    required: false,
                    maxlength: 50
                },
                type: {
                    required: false,
                    maxlength: 50
                },
                money: {
                    required: false
                }
            },

            submitHandler: function (form) {
                if ($.active) return

                let name = $("#name")
                let type = $("#type")
                let amount = $("#money")

                name = name.val()
                type = type.val()
                amount = parseFloat(amount.val())

                var transaction = {
                    name: name,
                    type: type,
                    value: amount
                }

                $.ajax({

                    url: "/api/conta/criar",
                    method: "post",
                    data: JSON.stringify(transaction),

                    processData: false,
                    contentType: "application/json",

                    success: function (dadosDeRetorno) {
                        form.reset()
                        setTimeout(() => { window.location = "/" }, 1)
                    },

                    error: function (xhr) {

                        try {
                            alert(JSON.parse(xhr.responseText));
                        } catch (err) {
                            alert("Something went wrong");
                        }

                    }
                })

            }
        })

        

         function update() {


            $.ajax({
                url: '/api/conta/listar',
                method: 'get',

                success: data =>{
                    let tabela = $('#table-body')

                    let html = ''
                    data.reverse()
                    
                    
                    for (let i = 0; i < data.length; i++) {
                        const randomnum = Math.floor(Math.random() * 65536)

                        let transaction = data[i]

                        if (transaction.tipo == 'Entrada') {

                            html += 
                                    `<tr>
                                        <td>${randomnum}</td>
                                        <td>${transaction.nome}</td>
                                        <td class="text-success">${transaction.valor}</td>
                                        <td>${transaction.dia.slice(8, 10)}/${transaction.dia.slice(5, 7)}/${transaction.dia.slice(0, 4)} </td>
                                    </tr>`

                        } else {
                            html += 
                                    `<tr>
                                        <td>${randomnum}</td>
                                        <td>${transaction.nome}</td>
                                        <td class="text-danger">${transaction.valor}</td>
                                        <td>${transaction.dia.slice(8, 10)}/${transaction.dia.slice(5, 7)}/${transaction.dia.slice(0, 4)} </td>
                                    </tr>`

                        }

                    }
                        
                    tabela.html(html);

                },

                error: function () {
                    alert("Alguma coisa deu errada")
                    
                    

                }

            })

        }

        update()
    </script>
</body>