<!DOCTYPE html>
<html lang="pt-br">

<head>

    <%- defineContent('styles') %>

    <%- include('header') %>
    

</head>

<body>
    <div class="container-fluid">

        <%- body %>
    </div>

    <%- include('scripts') %> 
</body>