<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="/style/criar.css">
    <link rel="stylesheet" href="/style/dark-mode.css">
    <title>Document</title>
</head>

<body>

    <h1>Nova transação</h1>
    <hr>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="darkSwitch">
        <label class="custom-control-label" for="darkSwitch"><i class="fa fa-moon-o" aria-hidden="true"></i></label>
    </div>
    <fieldset>

        <div class="table table-dark table-hover table-striped">
            <div class="field-group">
                
                <div class="field">
                    <label for="name"> <strong> Nome da transação</strong> </label>
                    <input type="text" name="name" required="required">
                </div>


                <div class="field">
                    <label for="name"><strong> Tipo da transação </strong> </label>
                    <input type="text" name="" id="" required="required">
                </div>
            

            
                <div class="field">
                    <label for="address"> <strong> Valor </strong> </label>
                    <input type="number" name="" id="" required="required">
                </div>
            </div>

            <div class="div-botao">
                <input class="botao btn-primary" type="button" value="Criar">
            </div>
    
        </div>
    </fieldset>

</body>

    <script src="/js/dark-mode-switch.min.js"></script>

</html>